{% extends 'base.html' %}
{%block head%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/person.css')}}">
{%endblock%}
{%block title%}个人主页{%endblock%}
{%block main%}
    <div class="empty container"></div>
    <div class="userface-name container">
        <i>
            <img class="userface" src="{{url_for('static',filename='images/'+user.avatar)}} ">
        </i>
        <i class="username">
            {{user.username}}
        </i>
    </div>
    <div class="empty1"></div>
    <div class="container">
        <div class="container1">
          <span class="sp"><a href="/my_video/">投稿</a></span>
          <span class="sp"><a href="/my_collect/">收藏</a></span>
          <span class="sp"><a href="/imformation/">个人信息</a></span>
          {% if user.role == 'adm' %}
          <span class="sp"><a href="/all_imformation/">所有用户信息</a></span>
          {% endif %}
        </div>
    </div>
    <div style="color: red;font-size: 25px;height: 50px;margin-top: 20px;" class="change_pwd container"><a href='/change_pwd/'>修改密码</a></div>
    <div style="color: black;font-size: 25px;height: 50px;margin-top: 20px;" class="change_userface container"><a href='/person/userface/'>上传头像</a></div>   
{%endblock%}