{% extends 'base.html' %}
{%block title%}首页{%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{%endblock%}
{%block main%}
    <div class="empty1 container"></div>
            <div class="container">
                <div class="tips"><a href="{{url_for('index')}}">全部</a></div>
                <div class="tips"><a href="{{url_for('tip_study')}}">学习</a></div>
                <div class="tips"><a href="{{url_for('tip_game')}}">游戏</a></div>
                <div class="tips"><a href="{{url_for('tip_star')}}">明星</a></div>
                <div class="tips"><a href="{{url_for('tip_pet')}}">萌宠</a></div>
                <div class="tips"><a href="{{url_for('tip_anime')}}">动漫</a></div>
                <div class="tips"><a href="{{url_for('tip_fun')}}">鬼畜</a></div>
            </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!-- /.container-fluid -->
    <ul class="video-list-group container">
        {% for video in videos %}
            <div  class="list">
                    <div class="pic-group">
                        <a href="{{url_for('detail', video_id=video.id)}}">
                            <img class="video_pic" src="{{url_for('static',filename='images/'+video.pic_filename)}}">
                        <div class="title-group">
                            <li style="list-style: none;">视频名称：{{video.title}}</li>
                            <li style="list-style: none;"> 作者：{{video.author.username}}</li>
                        </div>
                        </a>
                        {% if user_role == 'adm' %}
                        <form action="{{url_for('delete')}} " method="post">
                            <div class="form-group">
                                <input type="hidden" name="video_id" value="{{video.id}} ">
                            </div>
                            <div class="form-group" style="text-align: right;">
                                <button class="btn btn-primary">删除</button>
                            </div>
                        </form>
                        {% endif %}
                    </div> 
            </div>
        {% endfor %}
<br>
    </ul>
    <div class="page container">
        <div>
            总页数:{{paginate.pages}}
            当前页数：{{paginate.page}}
        </div>
        <div>
            {% if paginate.has_prev %}
            <a href="/?page={{paginate.prev_num}}">上一页</a>
            {% endif %}
            {% for i in paginate.iter_pages() %}
            <a href="/?page={{i}}">{{i}}</a>
            {% endfor %}
            {% if paginate.has_next %}
            <a href="/?page={{paginate.next_num}}">下一页</a>
            {% endif %}
        </div>
    </div>
{%endblock%}